{%- set styleProps = getStyleProps(
    'dialog.content',
    attributes
) -%}

<div
    class="{{ style('dialog.content', styleProps) }}"
    {{ attributes.without('class') }}
    data-slot="panel"
>
    {%- block content %}{% endblock -%}
</div>